{% block select2_entity_filter_form_widget %}
    <table width="100%">
        <tr>
            <td width="150px">{{ form_widget(form.o) }}</td>
            <td style="padding-left: 10px">{{ form_widget(form.v) }}</td>
        </tr>
    </table>
{% endblock %}